<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventra</title>
    <link rel="stylesheet" href="/CSS/styling.css">
</head>
<body>
    <%- include('header') %>

    <h1>Welcome to Inventra!</h1>

    

    <%- include('footer') %>
</body>
</html>